__pycache__/
*.pyc
dist/
*.egg-info/
.git/
.env
.venv/
Weather_MCP/
Memory_MCP/
Cybersecurity_MCP/
Policy_Gateway_MCP/
A2A_Protocol_MCP/
Academic_MCP/
Audit_Trail_MCP/
Benchmark_MCP/
CLI_Tool/
Context_Optimizer_MCP/
Energy_Grid_MCP/
Legal_Court_MCP/
Product_Protocol_MCP/
Server_Card_MCP/
VSCode_Extension/
npm_memory/
npm_optimizer/
npm_weather/
